.comment,
.comment-author,
.comment-avatar,
.comment-body,
.comment-figure,
.comment-footer,
.comment-header,
.comment-meta,
.comment-tasks,
.comment-tasks li,
.comments,
.comments-body,
.comments-footer,
.comments-header,
.comments-pager,
.comments-tasks,
.comments-tasks li,
.form-comment {
  background: none;
  border: 0;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
}

.comment {
  position: relative;
}
.comment::after {
  clear: both;
  content: "";
  display: table;
}
.comment-author,
.comment-meta {
  font: inherit;
  text-shadow: inherit;
}
.comment-avatar {
  display: block;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}
.comment-body,
.comment-footer {
  margin-top: 0.5rem;
}
.comment-header + .comment-body + .comment-footer + .comments,
.comment-header + .comment-body + .form-comment + .comment-footer + .comments {
  margin-left: 1.5rem;
}
.comment-figure {
  float: left;
  width: 5rem;
}
.comment-figure + .comment-header,
.comment-figure + .comment-header + .comment-body,
.comment-figure + .comment-header + .comment-body + .comment-footer,
.comment-figure + .comment-header + .comment-body + .comment-footer + .comments,
.comment-figure + .comment-header + .comment-body + .form-comment + .comment-footer + .comments {
  margin-left: 6.5rem;
}
.comment-header {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
  justify-content: space-between;
}
.comment-status\:-1 {
  opacity: 0.5;
}
.comment-tasks {
  align-content: center;
  display: flex;
  gap: 0 1rem;
}
.comment-url::before {
  content: "#";
}
.comment .comments,
.comment + .comment {
  margin-top: 1.5rem;
}
.comment .form-comment + .comment-footer {
  display: none;
}
.comment .form-comment .js\:cancel {
  display: inline-block;
}

.comments,
.comments-body,
.comments-footer,
.comments-pager,
.comments-pager + p {
  margin-top: 2rem;
}
.comments-pager {
  display: flex;
  gap: 0 1rem;
  justify-content: center;
}
.comments-pager > span {
  display: flex;
  gap: 0 0.5rem;
}
.comments-pager [aria-current=step],
.comments-pager [aria-disabled=true] {
  color: inherit;
  text-decoration: none;
}
.comments-tasks {
  align-content: center;
  display: flex;
  gap: 0 1rem;
}
.comments:empty,
.comments-body:empty,
.comments-footer:empty {
  display: none;
}
.comments [role=status] {
  text-align: center;
}

.form-comment {
  clear: both;
  margin-top: 2rem;
}
.form-comment > p:not([role=alert]):not([role=status]) {
  display: flex;
  gap: 0 1.5rem;
}
.form-comment > p > * {
  flex: 1;
}
.form-comment > p > [role=group] {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.form-comment > p > label {
  max-width: 5rem;
  text-align: right;
}
.form-comment > p > label:not([for]) {
  visibility: hidden;
}
.form-comment > p > label + br {
  display: none;
}
.form-comment > p > label + br + span > input,
.form-comment > p > label + br + span > select,
.form-comment > p > label + br + span > textarea {
  display: block;
  max-width: 100%;
  width: 100%;
}
.form-comment [role=button],
.form-comment button,
.form-comment input,
.form-comment select,
.form-comment textarea {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}
.form-comment [role=button] + br,
.form-comment button + br,
.form-comment input + br,
.form-comment select + br,
.form-comment textarea + br {
  display: none;
}
.form-comment [role=button] + br + small,
.form-comment button + br + small,
.form-comment input + br + small,
.form-comment select + br + small,
.form-comment textarea + br + small {
  display: block;
  margin-top: 0.5rem;
}
.form-comment .js\:cancel {
  display: none;
}

@media (max-width: 600px) {
  .comment-figure + .comment-header + .comment-body + .comment-footer + .comments {
    margin-left: 1.5rem;
  }
}