/*
 * Make the appearance to look like a plain text
 * but keep the padding and margin around it
 */
.button.comment-user,
.button.comment-user:focus,
.button.comment-user:hover,
.button.comment-user:active {
  color: inherit;
  text-shadow: none;
  background: none;
  border-color: transparent;
  border-radius: 0;
  box-shadow: none;
  cursor: auto;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.comments,
.comments-body,
.comments-footer,
.comments-header {
  margin: 0;
}
.comments,
.comments-body,
.comments-body .form-comment,
.comments-footer {
  margin-top: 5%;
}
li.comment,
ul.comments {
  margin: 0;
  padding: 0;
  list-style: none;
}
li.comment::after {
  content: "";
  display: table;
  clear: both;
}
ul.comments {
  margin-top: -1em;
}
ul.comments ul.comments {
  clear: both;
  margin-top: .5em;
  margin-left: 1em;
}
li.comment {
  padding-top: 1em;
  position: relative;
  word-wrap: break-word;
}
li.comment ul.comments,
li.comment .form-comment {
  margin-bottom: 1em;
}
.comment-body,
.comment-figure,
.comment-footer,
.comment-header {
  margin: 0;
  clear: none;
}
.comment-links,
.comment-links li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.comment-links::after {
  content: "";
  display: table;
  clear: both;
}
.comment-links li {
  display: block;
  float: left;
}
.comment-links li::after {
  content: '\00B7';
  display: inline-block;
  vertical-align: middle;
  margin: 0 .5em;
}
.comment-links li:last-child::after {
  display: none;
}
.comment-links .comment-link {
  display: inline-block;
  vertical-align: middle;
}
.comment-body::after,
.comment-figure::after,
.comment-footer::after,
.comment-header::after {
  content: "";
  display: table;
  clear: both;
}
.comment-figure + .comment-header,
.comment-figure + .comment-header + .comment-body,
.comment-figure + .comment-header + .comment-body + .comment-footer,
.comment-figure + .comment-header + .comment-body + .comment-footer + ul.comments {
  margin-left: 5em;
}
.comment-body,
.comment-footer {
  margin-top: .5em;
}
.comment-body figure:first-child,
.comment-body h3:first-child,
.comment-body h4:first-child,
.comment-body h5:first-child,
.comment-body h6:first-child,
.comment-body iframe:first-child,
.comment-body p:first-child,
.comment-body pre:first-child,
.comment-body table:first-child {
  margin-top: 0;
}
.comment-figure {
  width: 4em;
  height: 4em;
  position: absolute;
  top: 1.2em; /* `padding-top` + `.2em` */
  bottom: 0;
  left: 0;
}
.comment-avatar {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, .05);
  border: 0;
  outline: 0;
}
.comment-header::after {
  content: "";
  display: table;
  clear: both;
}
.comment-author,
.comment-meta {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-shadow: inherit;
}
.comment-author {
  float: left;
}
.comment-meta {
  float: right;
}
.comment-url::before {
  content: '#';
}
.form-comment {
  clear: both;
}
.form-comment h4 {
  margin-bottom: 1rem;
}
.form-comment > p,
.form-comment > .p {
  margin: 1em 0 0;
  padding: 0;
}
.form-comment > p:first-child,
.form-comment > .p:first-child {
  margin-top: 0;
}
.form-comment p::after,
.form-comment .p::after {
  content: "";
  display: table;
  clear: both;
}
.form-comment p > label,
.form-comment .p > label,
.form-comment p > label + br + span,
.form-comment .p > label + br + span,
.form-comment p > label + br + div,
.form-comment .p > label + br + div {
  display: block;
  margin-left: 5em;
}
.form-comment p > label,
.form-comment .p > label {
  float: left;
  margin-left: 0;
  width: 4em;
  text-align: right;
}
.form-comment p > label + br,
.form-comment .p > label + br {
  display: none;
}
.form-comment-button > label {
  visibility: hidden;
}
.form-comment .button,
.form-comment .input,
.form-comment .select,
.form-comment .textarea {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-comment .width {
  display: block;
  width: 100%;
}
.form-comment + .comment-footer,
.form-comment .comment-reply\:x {
  display: none;
}
.form-comment.is\:reply .comment-reply\:x {
  display: inline-block;
}

@media (max-width: 730px) {
  .comment-author,
  .comment-meta {
    float: none;
  }
  .comment-meta {
    margin-bottom: .5em;
  }
}

@media (max-width: 450px) {
  .comment-figure + .comment-header + .comment-body + .comment-footer + ul.comments {
    margin-left: 1em;
  }
}