.comment,
.comment-author,
.comment-avatar,
.comment-body,
.comment-figure,
.comment-footer,
.comment-header,
.comment-meta,
.comment-tasks,
.comment-tasks li,
.comments,
.comments-body,
.comments-footer,
.comments-header,
.comments-pager,
.comments-tasks,
.comments-tasks li,
.form-comment {
  background: none;
  border: 0;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
}

.comment {
  position: relative;
  &::after {
    clear: both;
    content: "";
    display: table;
  }
  &-author,
  &-meta {
    font: inherit;
    text-shadow: inherit;
  }
  &-avatar {
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }
  &-body,
  &-footer {
    margin-top: 0.5rem;
  }
  &-header {
    + .comment-body + .comment-footer + .comments,
    + .comment-body + .form-comment,
    + .comment-body + .form-comment + .comment-footer + .comments {
      margin-left: 1.5rem; // Default comment indent without avatar-related extension
    }
  }
  &-figure {
    float: left;
    width: 5rem;
    + .comment-header,
    + .comment-header + .comment-body,
    + .comment-header + .comment-body + .comment-footer,
    + .comment-header + .comment-body + .comment-footer + .comments,
    + .comment-header + .comment-body + .form-comment,
    + .comment-header + .comment-body + .form-comment + .comment-footer + .comments {
      margin-left: 6.5rem; // Default comment indent with avatar-related extension
    }
  }
  &-header {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
    justify-content: space-between;
  }
  &-tasks {
    align-content: center;
    display: flex;
    gap: 0 1rem;
  }
  &-url {
    &::before {
      content: '#';
    }
  }
  &[data-status='-1'] {
    opacity: 0.5;
  }
  .comments,
  + .comment {
    margin-top: 1.5rem;
  }
  .form-comment {
    + .comment-footer {
      display: none;
    }
    [data-task='cancel'] {
      display: inline-block;
    }
  }
}

.comments {
  &,
  &-body,
  &-footer,
  &-pager,
  &-pager + p {
    margin-top: 2rem;
  }
  &-pager {
    display: flex;
    gap: 0 1rem;
    justify-content: center;
    > span {
      display: flex;
      gap: 0 0.5rem;
    }
    [aria-current='step'],
    [aria-disabled='true'] {
      color: inherit;
      text-decoration: none;
    }
  }
  &-tasks {
    align-content: center;
    display: flex;
    gap: 0 1rem;
  }
  &:empty,
  &-body:empty,
  &-footer:empty {
    display: none;
  }
  [role='status'] {
    text-align: center;
  }
}

.form-comment {
  clear: both;
  margin-top: 2rem;
  > p {
    &:not([role='alert']):not([role='status']) {
      display: flex;
      gap: 0 1.5rem;
    }
    > * {
      flex: 1;
    }
    > [role='group'] {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
    }
    > label {
      &:not([for]) {
        visibility: hidden;
      }
      max-width: 5rem;
      text-align: right;
      + br {
        display: none;
        + span {
          > input,
          > select,
          > textarea {
            display: block;
            max-width: 100%;
            width: 100%;
          }
        }
      }
    }
  }
  [role='button'],
  button,
  input,
  select,
  textarea {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    + br {
      display: none;
      + small {
        display: block;
        margin-top: 0.5rem;
      }
    }
  }
  [data-task='cancel'] {
    display: none;
  }
}

@media (max-width: 600px) {
  .comment-figure + .comment-header + .comment-body + .comment-footer + .comments {
    margin-left: 1.5rem;
  }
}